<p>Hi {{to_name}},</p>

<p>
    Thank you for RSVPing to our wedding!
{{#if rsvp_complete}}
    {{#or attending_wedding attending_rehearsal}}
        We are excited to see you this summer!
    {{else}}
        We are sorry you can't make it to our wedding.
    {{/or}}
{{else}}
    
{{/if}}
</p>

<h3>RSVP Status</h3>
{{#each guest_rsvp_statuses}}
    <p>{{this}}</p>
{{/each}}
<p>
    You can make changes to your RSVP <a target="_blank" href="{{link_rsvp}}">on our website</a> until {{date_rsvp_deadline}}.
</p>

{{#if attending_rehearsal}}
    <h3>Wedding Rehearsal Details</h3>
    <p>TODO basic rehearsal details and link to website</p>
{{/if}}

{{#if attending_wedding}}
    <h3>Wedding Details</h3>
    <p>TODO basic wedding details and link to website</p>
{{/if}}

<p>Thanks,<br>Hannah & Jared</p>
