<p>Hi {{to_name}},</p>
<br><br>
<p>
    {{#if rsvp_complete}}
        Thank you for RSVPing to our wedding!
        {{#or attending_wedding attending_rehearsal}}
            We are excited to see you this summer!
        {{else}}
            We are sorry you can't make it. If circumstances change, please
            <a target="_blank" href="{{link_rsvp}}">update your RSVP</a>
            before {{date_rsvp_deadline}}.
        {{/or}}
    {{else}}
        Thank you for starting your RSVP to our wedding! <b>Your RSVP is not yet complete</b>. Please
        <a target="_blank" href="{{link_rsvp}}">complete your RSVP</a>
        as soon as you are able to. Please complete your RSVP by {{date_rsvp_deadline}}.
    {{/if}}
</p>

<br><br>
<h2>RSVP Status</h2>
<p>
    {{#each guest_rsvp_statuses}}
        {{this}}<br><br>
    {{/each}}
    <i>You can make changes to your RSVP <a target="_blank" href="{{link_rsvp}}">on our website</a>
        until {{date_rsvp_deadline}}.</i>
</p>

{{#if attending_wedding}}
    <br><br>
    <h2>Wedding Ceremony</h2>
    <p>
        <b>
            Saturday, July 9th, 2022<br>
            4pm til we drop
        </b>
        <br><br>
        Turski Residence<br>
        <a target="_blank" href="https://goo.gl/maps/Js57jBEFmN2gPnM36">
            5708 223rd Ave NE<br>
            Redmond, WA 98053
        </a>
    </p>
{{/if}}

{{#if attending_rehearsal}}
    <br><br>
    <h2>Rehearsal Dinner</h2>
    <p>
        <b>
            Friday, July 8th, 2022<br>
            6pm to 9pm
        </b>
        <br><br>
        Agua Verde Cafe<br>
        <a target="_blank" href="https://g.page/aguaverdecafeseattle?share">
            1303 NE Boat St<br>
            Seattle, WA 98105
        </a>
    </p>
{{/if}}
<br><br>
<p>
    Thanks,<br>
    Hannah & Jared<br>
    {{link_home}}
</p>
